# file named .gitignore

application/config/database.php
application/config/config.php
application/cache/
backups/
# application/modules/recaptcha/config/recaptcha.php
system/cache/
hwezemail2.sublime-project
hwezemail2.sublime-workspace
# Vim leave-behinds
*.swp
*.sql
*.zip
# Windows files
*.bak